In [ ]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 4.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=3efa22299487db3d1601f9c8c21380f86d2720a8dede8fab400d55c4865c58e3
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

**bold text**# RDD in PySpark

In [ ]:
import pyspark

In [ ]:
import os

In [ ]:
from pyspark import SparkContext, SparkConf

In [ ]:
sc = SparkContext("local", "RDD Exploration")

In [ ]:
# Create an RDD from a list
data = [1, 2, 3, 4, 5]
rdd = sc.parallelize(data)

In [ ]:
# Print the number of elements in the RDD
print("Number of elements in RDD:", rdd.count())

Number of elements in RDD: 5

In [ ]:
# Print the first element of the RDD
print("First element of RDD:", rdd.first())

First element of RDD: 1

In [ ]:
# Print all elements of the RDD
print("All elements of RDD:", rdd.collect())

All elements of RDD: [1, 2, 3, 4, 5]

In [ ]:
# Perform a transformation - Map operation to square each element
squared_rdd = rdd.map(lambda x: x*x)

In [ ]:
# Print the squared elements
print("Squared elements of RDD:", squared_rdd.collect())

Squared elements of RDD: [1, 4, 9, 16, 25]

In [ ]:
# Perform an action - Sum all elements in the RDD
total_sum = rdd.reduce(lambda x, y: x + y)
print("Total sum of elements in RDD:", total_sum)

Total sum of elements in RDD: 15

In [ ]:
# Stop the SparkContext
sc.stop()